<p id="notice" class="text-center"><%= notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h1>Teams</h1>
    </div>
    <br/>

    <div class="d-inline-block float-right" style="margin-top: 10px;">
        <%= link_to 'Add Team', new_team_path, :class => "btn btn-primary btn-sm" %>
    </div>

    <div class="d-inline-block float-left" style="margin-top: 10px;">
        <!-- teams search -->
        <%= form_tag(teams_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search for teams" %>
          <%= submit_tag "Search", :name => nil, :class => "btn btn-primary btn-sm" %>
        <% end %>

        <% if @teams.blank? %>
          <h6>There are no teams which name contains '<%= params[:search] %>'.</h6>
        <% end %>
        <!-- end of teams search -->
    </div>

    <table class="table table-stripped table-hover index indexborders">
      <thead>
        <tr>
          <th class="indexborders"><%= sort_link "name" %></th>
          <th class="indexborders"><%= sort_link "date_of_founding" %></th>
          <th class="indexborders">Player count</th>
          <th class="indexborders" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @teams.each do |team| %>
          <tr>
            <td class="textfield indexborders"><%= team.name %></td>
            <td class="nontextfield indexborders"><%= team.date_of_founding.strftime("%d.%m.%Y") %></td>
            <td class="nontextfield indexborders"><%= team.players.count %></td>
            <td align=center class="indexborders">
                <%= link_to 'Show', team , :class => "btn btn-warning btn-sm" %>
                <%= link_to 'Edit', edit_team_path(team), :class => "btn btn-success btn-sm" %>
                <%= link_to 'Delete', team, method: :delete, data: { confirm: 'Are you sure you want to delete this team?' }, :class => "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
