<p id="notice" class="text-center"><%= modified_notice %></p>

<div class="container">
    <div class="d-inline-block">
        <h1>Match History</h1>
    </div>
    <br/>
    <div class="d-inline-block float-left" style="margin-top: 10px;">
        <%= link_to 'Add Match', new_match_path, :class => "btn btn-primary btn-sm" %>
    </div>

    <table class="table table-stripped table-hover  index indexborders">
      <thead>
        <tr>
          <th class="indexborders">First team</th>
          <th class="indexborders">Second team</th>
          <th class="indexborders">Result</th>
          <th class="indexborders">Date</th>
          <th class="indexborders" colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @matches.each do |match| %>
          <tr>
            <td class="textfield indexborders">
              <% if match.team_one != nil %>
                <%= link_to match.team_one.name, match.team_one%>
              <% else %>
                <i>Team does not exist</i>
              <% end %>
            </td>
            <td class="textfield indexborders">
              <% if match.team_two != nil %>
                <%= link_to match.team_one.name, match.team_one%>
              <% else %>
                <i>Team does not exist</i>
              <% end %>
            </td>
            <td class="nontextfield indexborders"><%= match.result %></td>
            <td class="nontextfield indexborders"><%= match.date %></td>
            <td align=center class="indexborders">
                <%= link_to 'Show', match , :class => "btn btn-warning btn-sm" %>
                <%= link_to 'Edit', edit_match_path(match), :class => "btn btn-success btn-sm" %>
                <%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure you want to delete this match?' }, :class => "btn btn-danger btn-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
